// Import styles here

body,
html {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

#map,
#wrapper,
body,
html {
  height: 100%;
  width: 100%;
}

#map {
  margin-top: 2rem;
}

#logo {
  margin: auto;
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

#postcode-input {
  margin: auto;
  display: inline-block;
  width: 30ch;
}

#ward-dropdown {
  display: inline-block;
  width: 30ch;
  margin: auto;
}

#navbar {
  top: 1rem;
  position: sticky;
  z-index: 9999;
  max-width: 80ch;
  margin: 0 auto;
  background: white;
  padding-top: 0;
  padding-bottom: 0;
  transition: box-shadow 0.5s ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#tooltip {
  position: fixed;
  bottom: 0;
  display: grid;
  background: white;
  width: 100%;
  z-index: 999;
  height: 10ex;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  span {
    padding: 0.5rem;
    display: inline-block;
    background: #e9ebe9;
    border-top: 2px solid grey;
  }
}